/* Estilo del contenedor principal de la tabla */
.table-container {
  margin: 20px auto; /* Margen superior e inferior automático y margen izquierdo y derecho de 20px */
  width: 80%; /* Ancho máximo del contenedor del 80% del contenedor padre */
  max-width: 1200px; /* Ancho máximo absoluto de 1200px */
  border: 1px solid #ccc; /* Borde de 1px sólido color gris claro */
  border-radius: 8px; /* Borde redondeado de 8px */
  overflow: hidden; /* Oculta el contenido que desborda del contenedor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  text-size-adjust: 100%; /* Ajuste de tamaño de texto al 100% */
}

/* Estilo de la tabla */
table {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  border-collapse: collapse; /* Colapso de bordes entre celdas */
}

/* Estilo de las celdas de encabezado y cuerpo */
th, td {
  padding: 12px 15px; /* Relleno interno de 12px arriba y abajo, 15px a la izquierda y derecha */
  text-align: left; /* Alineación del texto a la izquierda */
  font-size: 14px; /* Tamaño de letra de 14px */
}

/* Estilo de los encabezados de columna */
th {
  background-color: #241ad6; /* Fondo gris claro */
  color: rgb(11, 11, 11); /* Texto negro */
  font-weight: bold; /* Texto en negrita */

}

/* Estilo de filas pares */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Fondo gris más claro para filas pares */
}

/* Estilo de filas al hacer hover */
tr:hover {
  background-color: #ddd; /* Fondo gris más oscuro al hacer hover */
}

/* Estilo específico para la primera fila */


/* Estilo del paginador */
mat-paginator {
  margin: 10px 0; /* Margen arriba y abajo de 10px */
}

/* Estilo de la etiqueta de rango del paginador */
mat-paginator .mat-paginator-range-label {
  color: #4CAF50; /* Color de texto verde */
}

/* Estilo de los iconos del paginador */
.mat-paginator-icon {
  color: #4CAF50; /* Color de los iconos verde */
}

/* Estilo para los selectores de Material */
.mat-select {
  width: 100%; /* Ancho completo */
}

/* Estilo para el gatillo de los selectores de Material */
.mat-select-trigger {
  display: flex; /* Mostrar como flexbox */
  align-items: center; /* Alinear elementos al centro */
}
/* Estilo para los botones de acciones */
.acciones-container button {
  border-radius: 50%; /* Borde circular */
  margin-left: 5px; /* Margen izquierdo de 5px entre botones */
}
.mat-button {
  border-radius: 20px; /* Ajusta el valor según el radio de borde que desees */
}
