$email-bg-color: #000;
$email-text-color: #ffd700;

.email-container{
    background-color: $email-bg-color;
    color: $email-text-color;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}