<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">Plataforma de Inscripción al Ejército</h1>
          <strong>La Plataforma de Inscripción al Ejército facilita el proceso de alistamiento, permitiendo a los interesados inscribirse, subir documentos y seguir el estado de su aplicación en línea.
          </strong>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
          <h3>Acceso Fácil</h3>
          <p class="lead mb-0">Inscríbete de manera sencilla y rápida desde cualquier dispositivo.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
          <h3>Para Todas las Fuerzas</h3>
          <p class="lead mb-0">Disponible para inscripciones en la policía, bomberos y fuerzas militares.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
          <h3>Fácil de Usar</h3>
          <p class="lead mb-0">Plataforma intuitiva y amigable para una experiencia de usuario óptima.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Diseño Totalmente Responsivo</h2>
        <p class="lead mb-0">Nuestra plataforma se adapta a cualquier dispositivo, ya sea teléfono, tablet o computadora.</p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Actualizado para Bootstrap 5</h2>
        <p class="lead mb-0">Utilizamos la última versión de Bootstrap 5 para un desarrollo web móvil responsivo de última generación.</p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fácil de Usar y Personalizar</h2>
        <p class="lead mb-0">Añade tu contenido e imágenes para que tu nueva página de inscripción esté lista en poco tiempo.</p>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Lo que la gente dice...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
          <h5>Juan P.</h5>
          <p class="font-weight-light mb-0">"Esta plataforma es fantástica! Gracias por hacer el proceso de inscripción tan fácil."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
          <h5>Lucía G.</h5>
          <p class="font-weight-light mb-0">"La mejor herramienta para inscribirse a las fuerzas armadas. Muy intuitiva y rápida."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
          <h5>Pedro M.</h5>
          <p class="font-weight-light mb-0">"Gracias por facilitar estos recursos gratuitos para nosotros!"</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        <!-- Signup form-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
          <!-- Email address input-->
          <div class="row">
            <div class="col">
              <input class="form-control form-control-lg" id="emailAddressBelow" type="email"
                placeholder="Email Address" data-sb-validations="required,email" />
              <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is
                required.</div>
              <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is
                not valid.</div>
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton"
                type="submit">Submit</button></div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              <p>To activate this form, sign up at</p>
              <a class="text-white"
                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">About</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-facebook fs-3"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-twitter fs-3"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="bi-instagram fs-3"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
