@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main{
    padding: 1rem;
    font-family: "Helvetica Neue", Arial, sans-serif;
    min-height: calc(100vh - 136px);
    display: flex;
    justify-content: center;
    align-items: center;
}