$bg-color: #1c1c1c;
$text-color: #ffd700;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    //width: 100%;
    //height: 80px;
    background-color: $bg-color;
    color: lighten($text-color, 20%);
    font-family: "Helvetica Neue", Arial, sans-serif;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    padding: 1rem 0;
    //padding-top: 2px;


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;

        .logo a {
            text-decoration: none;
            font-size: 1.5rem;
            font-family: "Helvetica Neue", Arial, sans-serif;
            font-weight: bold;
            color: lighten($text-color, 20%);

            &:hover{
                color: #f8f9fa;
            }
        }

        .nav-link {
            list-style: none;
            display: flex;

            li {
                margin-left: 1rem;

            }
        }

        ul {
            display: flex;

            li {
                a {
                    text-decoration: none;
                    display: block;
                    color: lighten($text-color, 20%);
                    font-size: 1rem;
                    font-family: "Helvetica Neue", Arial, sans-serif;
                    padding: 10px 25px;
                    border-radius: 50px;
                    transition: .2s;

                    &:hover {
                        color: $bg-color;
                        background: lighten($text-color, 20%);
                    }

                    &.active {
                        background-color: lighten($bg-color, 20%);
                    }

                    &.navlogin {
                        color: #f8f9fa;
                        background-color: black;
                        transition: .2s;

                        &:hover {
                            background-color: #f8f9fa;
                            color: black;
                        }
                    }
                }
            }
        }

        &.active {
            height: 800px;
        }
    }

    @media (max-width: 900px) {
        .navbar {
            height: 0;
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            width: 100vw;
            z-index: 999;
            transition: .5;
            overflow: hidden;

            ul {
                display: block;
                width: fit-content;
                margin: 160px auto 0 auto;
                text-align: center;
                transition: .5s;
                opacity: 0;

                li {
                    a {
                        display: block;
                        color: $bg-color;
                        margin-top: 40px;
                        font-size: 25px;
                        font-family: "Helvetica Neue", Arial, sans-serif;
                        font-weight: 900;
                        margin-bottom: 12px;
                    }
                }

                &.active {
                    opacity: 1;
                    transition: .5;
                }
            }
        }
    }
}