<!-- nav.component.html -->

<header id="header">
    <nav class="navbar" [class.active]="isNavActive" id="navbar">
        <div class="logo">
            <a [routerLink]="['/']" routerLinkActive="active">Comando ESPE</a>
        </div>    
        <ul class="nav-link">
            <li><a [routerLink]="['/registro-aspirantes']" routerLinkActive="active">Inicio</a></li>
            <li><a [routerLink]="['/login']" routerLinkActive="active">Products</a></li>
            <li><a [routerLink]="['/login']" routerLinkActive="active">About Us</a></li>
            <li><a [routerLink]="['/login']" routerLinkActive="active">Contact</a></li>
            <div class="login" id="login">
                <li><a [routerLink]="['/login']" routerLinkActive="active" class="navlogin">Iniciar Sesión</a></li>
            </div>
        </ul>
    </nav>
</header>